---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main class="flex flex-col gap-14 text-neutral-950">
    <article
      class="flex flex-col md:flex-row-reverse md:justify-end"
    >

      <div class="flex flex-col gap-4">
        <h2 class="text-3xl">
          {presentation.title}
        </h2>

        <p
          class="w-auto max-w-[60ch] leading-5"
        >
          I'm Daniel Vaughn, a <strong class="text-orange-500 font-semibold">floridian fullstack engineer</strong> with a little  over <strong class="text-orange-500 font-semibold">10 years</strong> of web experience.
        </p>

        <p
          class="w-auto max-w-[60ch] leading-5"
        >
          Currently, I'm building developer tools for NextEra Mobility, a mission-driven company paving the way for EV adoption on a commercial scale.
        </p>

        <p
          class="w-auto max-w-[60ch] leading-5"
        >
          Outside of work, I am exploring the boundaries between design and engineering,
          most notably with a programming language for UI designers called <strong class="text-orange-500 font-semibold">Matry</strong>.
          Check out my projects below to see what else I'm working on.
        </p>

      </div>
    </article>

    <!-- <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-900">Latest posts</h3>
        <Link href="/posts" label="See all posts" isUnderline target="_self" />
      </header>
      {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
    </article> -->

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-900">
          Current projects ({projects.length})
        </h3>
      </header>

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>
  </main>
</Layout>
